<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Jumlah Buku</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% authors.forEach((author,i) => { %>
        <tr>
          <td><%= (i+1) %></td>
          <td><%= author.name %></td>
          <td><%= author.age %></td>
          <td>0</td>
          <td><%= author.gender %></td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>