<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Authors</title>
</head>

<body>
    <%- include('partials/header') %>

        <h1>Add New Authors</h1>
        <form action="/authors/add" method="POST">
            <table>
                <tr>
                    <th><label for="name">Name</label></th>
                    <td><input type="text" name="name" id="name" placeholder="J.K. Rowling">
                    </td>
                </tr>
                <tr>
                    <th><label for="age">Age</label></th>
                    <td><input type="number" name="age" id="age" placeholder="51"></td>
                </tr>
                <tr>
                    <th><label for="gender">Gender</label></th>
                    <td>
                        <input type="radio" name="gender" id="gender" value="Male">
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="gender" value="Female">
                        <label for="female">Female</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Add Author"></td>
                </tr>
            </table>
        </form>
</body>

</html>