<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Live Code</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="navbar">
        <%- include('partials/header') %>
    </section>
    <section id="main">
        <div class="container text-center py-5">
            <h1>BOOK STORE</h1>
        </div>
        <div class="container d-flex justify-content-center pb-5">
            <div class="bg-secondary text-center rounded-3 pt-2 mx-3" style="width: 150px; height: 45px;">
               <a href="/authors" class="text-decoration-none text-light"><h5>View Authors</h5></a>
            </div>
            <div class="bg-secondary text-center rounded-3 pt-2 mx-3" style="width: 150px; height: 45px;">
                <a href="/books" class="text-decoration-none text-light"><h5>View Books</h5></a>
             </div>
        </div>
    </section>
    <section id="footer">
        <%- include('partials/footer') %>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>