<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Jumlah Buku</th>
        </thead>
        <tbody>
            <% author.forEach(function(author) {
            <td></td>
            <td><%= author.Name %></td>
            <td><%= author.Age %</td>
            <td><%= author.Gender %</td>
            <td><%= author.Jumlah%></td>
            }) %>
        </tbody>
    </table>
</body>
</html>