<html lang="en">

<head>
    <%- include('partials/bootstrap-css.ejs') -%>
    <title>Home</title>
</head>

<body>
    <%- include('partials/header') -%>
        <div class="container my-5">
            <h3 class="">Selamat Datang</h3>
        </div>
        <%- include('partials/bootstrap-js.ejs') -%>
</body>

</html>