<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Admin</title>
</head>

<body>
        <h1>Add New User</h1>
        <form action="/register" method="POST">
            <table>
                <tr>
                    <th><label for="username">Username</label></th>
                    <td><input type="text" name="username" id="username" placeholder="Type your username here"></td>
                </tr>
                <tr>
                    <th><label for="encryptedPassword">Password</label></th>
                    <td><input type="password" name="encryptedPassword" id="encryptedPassword" placeholder="Type your password here"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Register"></td>
                </tr>
            </table>
        </form>
</body>

</html>